/* p要素に適用するスタイル */
p {
  display: inline-block;
  color: white;
  background-color: #00008b;
  width: 160px;
  text-align: center;
  padding: 10px 0;
  margin-right: 20px;
  border-width: 5px 10px 10px 5px;
  border-color: yellow yellow red yellow;
  border-style: dotted ridge ridge solid;
}